<div class="user-container">
  <%= for user <- @users do %>
    <div class="user-content">
      <div class="user-name">
        <%= link user.name, to: user_path(@conn, :show, user) %>
      </div>
      <div class="user-email">
        <strong>E-Mail:</strong> <%= user.email %>
      </div>
      <div class="user-bio">
        <strong>Bio:</strong> <%= user.bio %>
      </div>
    </div>
  <% end %>
</div>
