<h1>Show User</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Bio:</strong>
    <%= @user.bio %>
  </li>

  <li>
    <strong>Password:</strong>
    <%= @user.password %>
  </li>

</ul>

<strong>Events:</strong>
<ul>
  <%= for event <- @user.events do %>
      <li>
	<%= link event.title, to: event_path(@conn, :show, event.id) %>
      </li>
  <% end %>
</ul>

<span><%= link "Edit", to: user_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: user_path(@conn, :index) %></span>
