<div class="user-content">
  <div class="user-name">
    <%= @user.name %>
  </div>

  <div class="user-email">
    <strong>Email:</strong> <%= link @user.email, to: "mailto:#{@user.email}" %>
  </div>

  <div class="user-bio">
    <strong>Bio:</strong> <%= @user.bio %>
  </div>

  <%= if Plug.Conn.get_session(@conn, :user_id) == @user.id do %>
    <div class="user-actions">
      <span><%= link "Edit profile", to: user_path(@conn, :edit, @user) %></span><br>
      <span><%= link "Delete my account", to: user_path(@conn, :delete, @user), method: :delete, data: [confirm: "Are you sure?"] %></span>
    </div>
  <% end %>
</div>

<h2>Events by this user:</h2>

<div class="event-container">
  <%= for event <- @user.events do %>
      <div class="event-content">
	<div class="event-cover">
	  <img src="<%= Test1.ImageUploader.url({event.cover, event}) %>">
	</div>
	<div class="event-title">
	  <%= link event.title, to: event_path(@conn, :show, event.id) %>
	</div>
	<div class="event-datetime">
	  <%= event.date %>
	</div>
	<div class="event-location">
	  <%= event.city %>, <%= event.address %>
	</div>
	<div class="event-description">
	  <%= event.description %>
	</div>
	<div class="event-external-link">
	  <%= link "Elsewhere", to: event.link %>
	</div>
      </div>
  <% end %>
</div>
