/* This file is for your main application css. */
.main {
    background-color: #aaa;
}

nav {
    background: #3700b3;
    height: 40px;
}

.nav li a {
    margin-top: -20px;
    color: #fff;
    border-radius: 0px !important;
}

.nav li:hover a:hover {
    background-color: #03dac6;
    color: #000;
}

.nav li form {
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav li form button {
    margin-top: -20px;
    padding: 10px;
    color: #fff;
    border: none;
    text-decoration: none;
    display: inline-block;
    float: right;
    background-color: #3700b3;
    border-radius: 0px !important;
}

.nav li:hover form:hover button:hover {
    background-color: #03dac6;
    color: #000;
}

.event-nav {
    background-color: #3700b3;
    height: 40px;
    margin-bottom: 40px;
    padding-top: 10px;
}

.event-nav ul {
    padding: 0;
    margin: 0;
    padding-left: 2px;
}

.event-nav ul li {
    display: inline;
    padding: 0;
    margin: 0;
}

.event-nav ul li a {
    padding: 10px 15px;
    background-color: #3700b3;
    color: #fff;
    text-decoration: none;
    height: 40px;
}

.event-nav ul li.active a {
    background-color: #018687;
    color: #000;
}

.event-nav ul li.active a:hover {
    background-color: #6200b3;
    color: #fff;
}

.event-nav ul li a:hover {
    background-color: #03dac6;
    color: #000;
}

.event-content {
    clear: both;
    padding-bottom: 10px;
    height: 220px;
}

.event-cover img {
    height: 200px;
    width: 200px;
    float: left;
    padding-right: 10px;
}

.event-title {
    font-size: 200%;
}

.event-datetime, .event-location, .event-description, .event-external-link {
    padding-bottom: 10px;
}

.user-content {
    padding-bottom: 20px;
}

.user-name {
    font-size: 200%;
}
