<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :title %><br>
    <%= text_input f, :title, placeholder: "Title" %>
    <%= error_tag f, :title %>
  </div>

  <div class="form-group">
    <%= label f, :city %><br>
    <%= text_input f, :city, placeholder: "City" %>
    <%= error_tag f, :city %>
  </div>

  <div class="form-group">
    <%= label f, :description %><br>
    <%= textarea f, :description, placeholder: "Description" %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group">
    <%= label f, :date %><br>
    <%= datetime_select f, :date %>
    <%= error_tag f, :date %>
  </div>

  <div class="form-group">
    <%= label f, :cover %><br>
    <%= text_input f, :cover %>
    <%= error_tag f, :cover %>
  </div>

  <div class="form-group">
    <%= label f, :address %><br>
    <%= text_input f, :address, placeholder: "Address" %>
    <%= error_tag f, :address %>
  </div>

  <div class="form-group">
    <%= label f, :external_link %><br>
    <%= text_input f, :link, placeholder: "External link" %>
    <%= error_tag f, :link %>
  </div>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
