<div class="event-nav">
  <ul>
    <li>
      <%= link "New Event", to: event_path(@conn, :new) %>
    </li>
    <li <%= if @active == :upcomming do %>
	class="active"
	<% end %>
	>
      <%= link "Upcomming", to: event_path(@conn, :upcomming) %>
    </li>
    <li <%= if @active == :past do %>
	class="active"
	<% end %>
	>
      <%= link "Past", to: event_path(@conn, :past) %>
    </li>
    <%= if not is_nil(@active) do %>
      <li>
        <%= link "All", to: event_path(@conn, :index) %>
      </li>
    <% end %>
  </ul>
</div>

<div class="events-container">
  <%= for event <- @events do %>
    <div class="event-content">
      <div class="event-cover">
	<img src="<%= Test1.ImageUploader.url({event.cover, event}) %>">
      </div>
      <div class="event-title">
	<%= link event.title, to: event_path(@conn, :show, event) %>
      </div>
      <div class="event-datetime">
	<%= event.date %>
      </div>
      <div class="event-location">
	<%= event.city %>, <%= event.address %>
      </div>
      <div class="event-description">
	<%= event.description %>
      </div>
      <div class="event-external-link">
	<%= link "Elsewhere", to: event.link %>
      </div>
      <div class="event-organizer">By:
	<%= link event.user.name, to: user_path(@conn, :show, event.user.id) %>
      </div>
    </div>
  <% end %>
</div>
