<div class="event-content">

  <div class="event-cover">
    <img src="<%= Test1.ImageUploader.url({@event.cover, @event}) %>">
  </div>

  <div class="event-title">
    <%= @event.title %>
  </div>

  <div class="event-datetime">
    <%= @event.date %>
  </div>

  <div class="event-location">
    <%= @event.city %>, <%= @event.address %>
  </div>

  <div class="event-description">
    <%= @event.description %>
  </div>

  <div class="event-external-link">
    <%= link "Elsewhere", to: @event.link %>
  </div>

  <div class="event-organizer">By:
    <%= link @event.user.name, to: user_path(@conn, :show, @event.user.id) %>
  </div>

  <div class="event-actions">
    <%= if Plug.Conn.get_session(@conn, :user_id) == @event.user.id do %>
      <%= link "Edit", to: event_path(@conn, :edit, @event) %>
      <%= link "Delete", to: event_path(@conn, :delete, @event), method: :delete, data: [confirm: "Are you sure?"] %>
    <% end %>
  </div>
</div>
